<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Vue ToDoList</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <header>
        <h1>ToDoList</h1>
    </header>
    <main>
        <div id="app">
            <input id="input" type="text" placeholder="Scrivi qui cosa aggiungere alla lista." v-model="newToDo">
            <button v-on:click="addToDo">
                Add to ToDoList
            </button>
            <ul>
                <li v-for="item in items">
                    {{item.text}}
                    <button id="delete" v-on:click="deleteToDo(item)">
                        delete it
                    </button>
                </li>
            </ul>
        </div>
    </main>
    <footer>

    </footer>
    <script src="script.js"></script>
</body>
</html>