*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    padding: 20px;
    font-size: 52px;
}

input{
    display: inline-block;
    margin-top: 40px;
    width: 450px;
    padding: 10px;
    border-radius: 9999px;
    border: none;
}

input[type=text]:focus{
    width: 650px;
    transition: ease-in-out, width 1s ease-in-out, ease-in, width 1s ease-in;
    
}

/* button{
    display: block;
    margin-top: 16px;
    padding: 5px;
} */

#add{
    display: inline-block;
    margin-top: 16px;
    padding: 7px;
    background-color: #008F39;
    color: white;
    border: none;
    border-radius: 15px;
}

#add:focus{
    transition: ease-in-out, width 1s ease-in-out;

}

#remove{
    display: inline-block;
    margin-top: 16px;
    padding: 7px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 15px;
}

#delete{
    padding: 7px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 15px;
    max-width: 30px;
}

ul{
    margin-top: 20px;
}

ul p{
    text-align: center;
    padding: 10px;
    font-size: 22px;
    font-weight: 700;
}

li{
    list-style: none;
    margin: 12px 0px;
    border: 1px solid grey;
    border-radius: 35px;
    padding: 10px;
    color: blue;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.done{
    text-decoration: line-through;
}

#delete{
    width: 100px;
}

h3{
    margin-top: 15px;
    margin-left: 5px;
    font-size: 22px;
}